.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find {
  align-items: center;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.find label,
.find input {
  font-size: 2rem;
  font-weight: 600;
}

.find input {
  padding: 0.4rem 1rem;
  border: 5px black solid;
  border-radius: 1rem;
  background-color: antiquewhite;
}

.find input:focus {
  background-color: rgb(255, 255, 255);
}

.countries {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(6, 1fr);
}

.country {
  width: 200px;
  min-height: 200px;
  text-align: center;
  background-color: antiquewhite;
  border: 5px #222 solid;
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}

.country:hover {
  transform: scale(1.1);
}

.country:active {
  transform: scale(1);
}

.country h3 {
  padding: 0rem 1rem;
  font-weight: 800;
  letter-spacing: 2px;
}

.image {
  position: relative;
  width: 100%;
  height: 100px;
}

@media (max-width: 1600px) {
  .countries {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1350px) {
  .countries {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1100px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .countries {
    gap: 2rem;
    padding: 0 1rem;
  }

  .country {
    width: auto;
    min-height: 180px;
  }

  .country h3 {
    font-size: 1rem;
  }

  .find input {
    padding: 0.6rem 1rem;
  }

  .find label,
  .find input {
    font-size: 1.2rem;
  }
}
